<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>leafylanka</title>

<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/sb-admin-2.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114327578-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114327578-1');
</script>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="https://v2.zopim.com/?1a4J9GXhDeEkwlbvbEWZ2UZ8TJlFmZDi";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
  <!--End of Zendesk Chat Script-->
</head>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">
              <img alt="Brand" src="...">
            </a> -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">leafylanka</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">NEWS</a></li>
          <li><a href="#">HOST THIS</a></li>
          <li><a href="#">LIVE DEMO</a></li>
          <li><a href="#">DOCUMENTATION</a></li>
          <li><a href="#">MARKET</a></li>
        </ul>  
        <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Go</button>
            </form>         
    </div><!-- /.container-fluid -->
  </nav>
<body>


  <!-- Page Content -->
  <div class="container">

      <!-- Introduction Row -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">About Us
                  <small>It's Nice to Meet You!</small>
              </h1>
              <p>We are a small Team who can put your ideas in to reallity</p>
          </div>
      </div>

      <!-- Team Members Row
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Our Team</h2>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                  <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                  <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                  <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                  <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                  <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                  <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          </div>
      </div> -->

      <hr>
  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</body>
<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="http://www.leafylanka.com/aboutus.html">About us</a></li>
          <li><a href="https://akilacollection.blogspot.com/search/label/greenhouse?&max-results=10">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Github code base</a></li>
          <li><a href="#">Youtube Channel</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>          
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="help.html">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2018 Leafylanka.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>
</html>
