<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>leafylanka</title>

<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/sb-admin-2.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114327578-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114327578-1');
</script>
</head>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">
              <img alt="Brand" src="...">
            </a> -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Leafylanka</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">NEWS</a></li>
          <li><a href="#">HOST THIS</a></li>
          <li><a href="#">LIVE DEMO</a></li>
          <li><a href="#">DOCUMENTATION</a></li>
          <li><a href="#">MARKET</a></li>
        </ul>  
        <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Go</button>
            </form>         
    </div><!-- /.container-fluid -->
  </nav>
<body>
    <div class = "jumbotron">
        <div class="row">
            <div id = "welcome" class="col-sm-6 col-md-6">
                <h2>Opensource Greenhouse Platform</h2>
                <p>Take a view at our live greenhouse</p>  
                <a class = "btn btn-primary btn-lg" href="http://www.leafylanka.com/dashboard.html" role = "button">Live Demo</a>
                </p>
             </div>
            <div class="col-sm-6 col-md-6">
            </div>
       
          </div>
     </div>
 
     <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://images.pexels.com/photos/669623/pexels-photo-669623.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="...">
              <div class="caption">
                <h3>Real Time Monitoring</h3>
                <p>You can monitor your plants from anywhere</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://images.unsplash.com/photo-1503847526538-824483d02f15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b41932690ed1828f7e698bdb13cd13f8&auto=format&fit=crop&w=500&q=60" alt="...">
              <div class="caption">
                <h3>Controlling</h3>
                <p>You can remotely control your Actuators.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://images.unsplash.com/photo-1495592528496-a143a67931d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efc953f0cf4fae51608618a71078c7df&auto=format&fit=crop&w=500&q=60" alt="...">
              <div class="caption">
                <h3>Future Predictions</h3>
                <p>You can make future predictions about your plants.</p>
              </div>
            </div>
          </div>
        </div>
        
        
        
        </div>


        
</body>
<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product for Mac</a></li>
          <li><a href="#">Product for Windows</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>          
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2018 Leafylanka.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>
</html>
