    .switch {
            position: relative; width: 91px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .switch-checkbox {
        display: none;
    }
    .switch-label {
            display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 15px; width:60px; 
    }
    .switch-inner {
           display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    }
    .switch-inner:before, .switch-inner:after {
            display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    }
    .switch-inner:before {
           content: "ON";
    padding-left: 15px;
    background-color: #46A9EB; color: #FFFFFF;
    }
    .switch-inner:after {
            content: "OFF";
    padding-right: 15px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    }
    .switch-switch {
            display: block; width: 19px; margin: 100%;
    background: #FAF5F5;
    position: absolute; top: 0; bottom: 0;
    right: 0px;
    border: 2px solid #999999; border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
    }
    .switch-checkbox:checked + .switch-label .switch-inner {
        margin-left: 0;
    }
    .switch-checkbox:checked + .switch-label .switch-switch {
        right: 0px; 
    }